<%= render '/components/follow_button', :user => User.find_by_username(params[:id]) %>

<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
              <h1>Profile: <%= @username %> </h1>

              <% if (current_user.id != @user1.id) %>
              <%= link_to "Add Friend", friendships_path(:friend_id => User.find_by_username(params[:id])), :method => :post,class:"btn btn-primary"%>


              <% else %>

              <%end%>



            <!-- <p>Stats</p>
            <p><%= current_user.followers.count %> </p> -->
        </div>

    </div>
</div>




<div class="row">
    <div class="col-xs-3">

      <div class="panel panel-default">
        <div class="panel-body">
          <p>Other Users</p>
          <p>   <% for @u in @toFollow do %>
               <li> <a href="/user/<%= @u.username %>" > <%= @u.username %> </a> </li>


              <% end %> </p>


    </div>
  </div>
</div>



<div class="col-xs-6">

<% if !(current_user.id != @user1.id) %>
   <%= render '/components/post_form' %>
<%end%>
  <% for @p in @posts %>

  <div class="panel panel-default post-panel">
    <div class="panel-body row">
            <div class="col-sm-1">
                <img class="rounded-image" src="/avatar.png" height="40px" width="40px" > </img>
            </div>

            <div class="col-sm-11">
              <p class="post-title"> <span class="post-owner"> <%= User.find(@p.user_id).username %> </span> - <span class="post-created" > <%= @p.created_at.to_formatted_s(:short) %> </span> </p>
              <p class="post-content"><%= @p.content %></p>
            </div>

            <div class="col-sm-12">
           <!-- <p class="post-links">
                <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
                <a href=""> View Conversation </a>




                 </p> -->
            </div>


    </div>
</div>


  <% end %>

<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
    <p>Friend List</p>


  </div>
</div>
</div>
</div>
<!-- <div class="panel panel-default">
  <div class="panel-body">
  <p>Trends</p>
</div>
</div>

</div>
</div> -->
